<% content_for :title, "Posts" %>

<div class="page-header">
  <h1>All Posts</h1>
  <% if logged_in? %>
    <%= link_to "Write a post", new_post_path, class: "btn btn--primary" %>
  <% end %>
</div>

<%= turbo_frame_tag "posts" do %>
  <% if @posts.any? %>
    <div class="post-list">
      <% @posts.each do |post| %>
        <%= render "posts/post_card", post: post %>
      <% end %>
    </div>
  <% else %>
    <div class="empty-state">
      <% if @query.present? %>
        <p>No posts found for "<%= @query %>".</p>
      <% elsif logged_in? %>
        <p>No posts yet. <%= link_to "Create your first post", new_post_path %>.</p>
      <% else %>
        <p>No published posts yet. <%= link_to "Sign up", signup_path %> to get started.</p>
      <% end %>
    </div>
  <% end %>
<% end %>
